<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="/index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text">前台首页</span>
            </a>
        </li>

        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon glyphicon-user"></i>
                <span class="menu-text">漏洞管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{:url('admin/result/index')}">
                        <span class="menu-text">我的漏洞</span>
                    </a>
                </li>
                <li>
                    <a href="{:url('admin/result/history')}">
                        <span class="menu-text">扫描历史</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon glyphicon glyphicon glyphicon-send"></i>
                <span class="menu-text">管理员管理</span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="/admin/admin/index">
                        <span class="menu-text">管理员列表</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admin/add">
                        <span class="menu-text">管理员添加</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="menu-icon glyphicon glyphicon-cog"></i>
                <span class="menu-text">系统设置</span>
            </a>
        </li>
    </ul>
</div>

<
</div>