<div class="list-group">
    <div class="dropdown">
        <a href="#" class="list-group-item" data-toggle="dropdown">
            栏目管理<span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{:url('admin/home/catelist')}">栏目列表</a></li>
            <li class="divider"></li>
            <li><a href="{:url('admin/home/cateadd')}">栏目添加</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a href="#" class="list-group-item" data-toggle="dropdown">
            博文管理<span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{:url('admin/home/articlelist')}">文章列表</a></li>
            <li class="divider"></li>
            <li><a href="{:url('admin/home/articleadd')}">文章添加</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a href="#" class="list-group-item" data-toggle="dropdown">
            会员管理<span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{:url('admin/home/userlist')}">会员列表</a></li>
            <li class="divider"></li>
            <li><a href="{:url('admin/home/useradd')}">会员添加</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <a href="#" class="list-group-item" data-toggle="dropdown">
            系统设置<span class="glyphicon glyphicon-triangle-bottom pull-right"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{:url('admin/home/system')}">系统设置</a></li>
        </ul>
    </div>
</div>