<div id="promo-block" class="promo-block body-red">
    <div class="container">
        <div class="promo-block-inner">
            <h3 class="promo-title text-center">加入社团</h3>
            <div class="row">
                <div class="figure-holder col-lg-3 col-md-5 col-12">
                    <div class="container">
                        <div class="row justify-content-end">
                            <img class="img-fluid text-right" src="/static/index/images/qrcode.png" alt="代码审计知识星球">
                        </div>
                    </div>
                </div><!--//figure-holder-->
            </div><!--//row-->
        </div><!--//promo-block-inner-->
    </div><!--//container-->
</div>



<footer class="footer text-center">
    <div class="container">
        <small class="copyright">Copyright © 2018 Template created with <i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a>, here is a <a href="/static/index/credits.txt" target="_blank">credits list</a>.</small>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/stickyfilljs@2.1.0/dist/stickyfill.min.js" integrity="sha256-Duz0kSQfOd2hKIZtlmd8xYuqQlAKEEJnSPYYSfLarVQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

<script type="text/javascript" src="/static/index/js/main.js"></script>