{include file="public/_meta" /}
{include file="public/_nav" /}
<!-- /Navbar -->
<!-- Main Container -->

<div class="container admin-body">
    <div class="row">
            <div class="content col-xs-8 col-xs-offset-2">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th colspan="2">基本信息</th>
                        </tr>
                        </thead>
                        <tbody>、
                        <tr>
                            <td>我的token</td>
                            <td>{$token}</td>
                        </tr>
                        <tr>
                            <td>服务器域名</td>
                            <td>{$Request.domain}</td>
                        </tr>
                        <tr>
                            <td>服务器IP地址</td>
                            <td>{$Request.ip}</td>
                        </tr>
                        <tr>
                            <td>服务器端口</td>
                            <td>{$Request.port}</td>
                        </tr>
                        </tbody>
                    </table>
            </div>
    </div>
</div>

{include file="public/_footer" /}

{include file="public/_js" /}
</body>
</html>